<!doctype html>
<title>Hello from Flask</title>
<head>
  <link href="{{ url_for('static', filename='components/fixed-data-table/dist/fixed-data-table.css') }}" rel="stylesheet">
  <style type="text/css">
    #datatable ul {
        list-style: none;
        margin-bottom: 2px;
        display: block;
        padding-left: 0;
    }
    #datatable li {
        display: inline;
    }
    #datatable input {
        padding: 10px 8px;
    }
    #datatable button {
        padding: 12px 4px;
        margin-left: 4px;
    }
    #datatable a {
        color: #4183c4;
        text-decoration: none;
        cursor: pointer;
    }
  </style>
</head>
<h1>Hello World!</h1>
<div id="datatable"></div>

<script src="{{ url_for('static', filename='components/numeral/min/numeral.min.js') }}"></script>
<script src="{{ url_for('static', filename='components/react/react.js') }}"></script>
<script src="{{ url_for('static', filename='components/fixed-data-table/dist/fixed-data-table.js') }}"></script>
<script src="{{ url_for('static', filename='components/file-saver.js/FileSaver.js') }}"></script>
<script src="{{ url_for('static', filename='components/js-xlsx/dist/xlsx.core.min.js') }}"></script>
<script src="{{ url_for('static', filename='components/fixed-data-table-py/js/pydatatable.js') }}"></script>
<script src="{{ url_for('static', filename='components/fixed-data-table-py/js/datatableexport.js') }}"></script>
<script type="text/javascript">
  var tableData = {{ data_table.json()|safe }};
  React.render(
    React.createElement(FixedDataTablePy, tableData),
    document.getElementById('datatable')
  );
</script>