<!doctype html>
<title>Hello from Flask</title>
<head>
  <link href="{{ url_for('static', filename='fixed-data-table-base.css') }}" rel="stylesheet">
</head>
<h1>Hello World!</h1>
<div id="datatable"></div>

<script src="https://fb.me/react-0.13.3.js"></script>
<script src="{{ url_for('static', filename='fixed-data-table.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
<script src="{{ url_for('static', filename='pydatatable.js') }}"></script>
<script type="text/javascript">
  var tableData = {{ data_table.json()|safe }};
  React.render(
    React.createElement(FixedDataTablePy, tableData),
    document.getElementById('datatable')
  );
</script>